<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="carservice.domain.Master" />
        <mapping class="carservice.domain.Workshop" />
        <mapping class="carservice.domain.Service" />
        <mapping class="carservice.domain.ServiceQueue" />
        <mapping class="carservice.domain.Client" />
        <mapping class="carservice.domain.MasterLog" />
    </session-factory>
</hibernate-configuration>