.content {
    background-image: url("../images/auto.jpg");
    background-position: top;
    background-size: 100%;
    font-size: 0;
    min-width: 1210px;
    min-height: 1080px;
}

.content__left {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    margin-top: 85px;
}

.content__right {
    display: inline-block;
    vertical-align: top;
    width: 35%;
    margin-top: 85px;
}