.workshop-queue {
    display: table;
    margin: 15px;
}

.workshop-queue__item {
    display: table-row;
    position: relative;
    padding-left: 30px;
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    color: #3f5271;
    line-height: 25px;
}

.workshop-queue__item:nth-child(4n + 1) .workshop-queue__item-id {
    background-image: url("../images/car_icon1.png");
}

.workshop-queue__item:nth-child(4n + 2) .workshop-queue__item-id {
    background-image: url("../images/car_icon2.png");
}

.workshop-queue__item:nth-child(4n + 3) .workshop-queue__item-id {
    background-image: url("../images/car_icon3.png");
}

.workshop-queue__item:nth-child(4n) .workshop-queue__item-id {
    background-image: url("../images/car_icon4.png");
}

.workshop-queue__item-id {
    display: table-cell;
    padding-left: 45px;
    font-weight: 700;
    font-size: 18px;
    background-size: auto 25px;
    background-repeat: no-repeat;
    background-position: left center;
}

.workshop-queue__item-service {
    display: table-cell;
    padding-left: 20px;
}

.workshop-queue__item-service:before {
    content: "[";
}

.workshop-queue__item-service:after {
    content: "]";
}

.workshop-queue__item-date {
    display: table-cell;
    padding-left: 20px;
}